@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased text-gray-800 bg-white;
}

/* Opcional: Estilos para scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-full;
}